*
	padding: 0
	margin: 0
	
.header-wrap
	line-height: 100px
	color: #000
	
.header-line
	display: flex
	-webkit-justify-content: space-between
	justify-content: space-between
	-webkit-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	
.header-production
	line-height: 20px
	margin-top: 15px
	font-size: 15px
	display: flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-align-items: center
	align-items: center
	width: 20%
	
.header_phone_button
	background-color: transparent
	border: none
	font-size: 26px
	padding: 15px
	
.header-span
	z-index: 20

.telephone
	font-size: 18px
	padding-right: 15px
	border-right: 1px solid #6b6b6b
	
.mail
	font-size: 18px
	padding-left: 15px
	a
		color: #000
		
.blocknote
	margin: 0 30px
		
.header-nav
	background-color: #e6e6e6
	height: 40px
	
.nav-left
	float: left
	line-height: 40px
	height: 40px
	ul
		list-style-type: none
		z-index: 112
	li
		display: inline-block
		margin-left: 50px
	a
		font-size: 15px
		color: #000
		display: block
	a:hover
		text-decoration: none
		border-bottom: 3px solid #8cc63e
		
.main_menu_button
	background-color: transparent
	border: none
	font-size: 26px
	color: #FFF
	padding: 0 15px 0
		
.search
	float: right
	position: relative
	line-height: 40px
	img
		position: absolute
		top: 12px
		left: 150px
	input
		width: 180px
		height: 25px
		border: none
		-webkit-border-radius: 3px
		border-radius: 3px

.production
	margin-top: 50px
	
.product
	float: left
	h2
		margin: 0
		color: #000 
		
.catalog
	float: right
	a
		display: inline-block
		padding: 8px 24px
		border: 1px solid #90bc3b
		-webkit-border-radius: 3px
		border-radius: 3px
		color: #90bc3b
		
.prod-wrap
	margin: 25px 0 50px
	
.production-block
	border: 1px solid #e6e6e6
	width: 260px
	height: 267px
	margin: 0 auto 20px
	display: flex
	
.production-text
	width: 225px
	margin: auto
	text-align: center
	h3
		margin-bottom: 20px
		font-size: 20px
	p
		font-size: 15px
			
.production-bg-icon
	height: 105px
	background-color: #f2f2f2
	display: flex
	
.production-icon1
	a
		display: inline-block
		margin: auto
		width: 52px
		height: 40px
		background-image: url(img/prod1.png)
		background-repeat: no-repeat

.production-icon2
	a
		display: inline-block
		margin: auto
		width: 39px
		height: 40px
		background-image: url(img/prod2.png)
		background-repeat: no-repeat
		
.production-icon3
	a
		display: inline-block
		margin: auto
		width: 45px
		height: 40px
		background-image: url(img/prod3.png)
		background-repeat: no-repeat
		
.production-icon4
	a
		display: inline-block
		margin: auto
		width: 17px
		height: 40px
		background-image: url(img/prod4.png)
		background-repeat: no-repeat
		
.production-block:hover
	background-image: url(img/bg-prod-block.png)
	border: none
	.production-icon1
		background-image: url(img/ell-prod-block.png)
		background-repeat: no-repeat
		background-color: transparent
		background-position: center center
		a
			background-image: url(img/prod1h.png) 
	.production-icon2
		background-image: url(img/ell-prod-block.png)
		background-repeat: no-repeat
		background-color: transparent
		background-position: center center
		a
			background-image: url(img/prod2h.png)
	.production-icon3
		background-image: url(img/ell-prod-block.png)
		background-repeat: no-repeat
		background-color: transparent
		background-position: center center
		a
			background-image: url(img/prod3h.png)
	.production-icon4
		background-image: url(img/ell-prod-block.png)
		background-repeat: no-repeat
		background-color: transparent
		background-position: center center
		a
			background-image: url(img/prod4h.png)
	h3, p
		color: #FFF 
		
.offers-wrap
	margin-top: 25px
	
.offers-block
	width: 265px
	margin: 0 auto 30px

.offers-img1
	background-image: url(img/offers-img1.png)
	background-repeat: no-repeat
	height: 135px
	
.offers-img2
	background-image: url(img/offers-img2.png)
	background-repeat: no-repeat
	height: 134px
	
.offers-img3
	background-image: url(img/offers-img3.png)
	background-repeat: no-repeat
	height: 135px

.offers-img4
	background-image: url(img/offers-img4.png)
	background-repeat: no-repeat
	height: 135px
	
.offers-img5
	background-image: url(img/offers-img5.png)
	background-repeat: no-repeat
	height: 135px
	
.offers-img6
	background-image: url(img/offers-img6.png)
	background-repeat: no-repeat
	height: 135px
	
.offers-img7
	background-image: url(img/offers-img7.png)
	background-repeat: no-repeat
	height: 135px
	
.offers-img8
	background-image: url(img/offers-img8.png)
	background-repeat: no-repeat
	height: 135px
	
.discount
	font-size: 20px
	color: #FFF
	padding: 15px 5px
	background-color: #8cc63e
	display: inline-block
	
.offers-border
	border: 1px solid #e6e6e6
	width: 263px
	
.offers-price
	width: 225px
	margin: auto
	
.text-img1
	display: inline-block
	font-size: 15px
	margin-top: 18px
	margin-bottom: 30px
	color: #000
	
.text-img2
	display: inline-block
	font-size: 15px
	margin-top: 18px
	margin-bottom: 51px
	color: #000
	
.price-now
	font-size: 20px
	
.price-before
	float: right
	font-size: 15px
	line-height: 30px
	color: #999
	text-decoration: line-through
	
.offers-block:hover
	-webkit-box-shadow: 5px 5px 5px 0 #333
	box-shadow: 5px 5px 5px 0 #333
	.discount
		font-size: 30px
	.text-img1, .text-img2
		color: #8cc63e
		text-decoration: none

.realwood
	background-color: #f5f5f5
	
.real-top
	margin-top: 55px
 
.real-wrap
	text-align: center
	width: 290px
	margin: 55px auto 0
	
.real-size
	display: inline-block
	height: 127px
	width: 127px
	
.real-click1
	background-image: url(img/real-img1.png) 
	
.real-click2
	background-image: url(img/real-img2.png) 
	
.real-click3
	background-image: url(img/real-img3.png) 
	
.real-click4
	background-image: url(img/real-img4.png) 
	
.real-content
	width: 230px
	margin: auto
	
.real-team
	font-size: 20px
	margin-top: 20px
	margin-bottom: 23px
	
.real-year
	font-size: 15px
	margin-bottom: 55px
	
.real-wrap:hover
	.real-click1
		background-image: url(img/real-img1h.png)
	.real-click2
		background-image: url(img/real-img2h.png)
	.real-click3
		background-image: url(img/real-img3h.png)
	.real-click4
		background-image: url(img/real-img4h.png)
	.real-team
		color: #6ea600 
		
.laeder-wrap
	width: 255px
	margin: 25px auto 0
	
.leader-price
	font-size: 23px
	margin: 25px 0
	
.leader-mass
	font-size: 20px
	margin-bottom: 25px
	
.leader-mass2
	font-size: 15px
	margin-bottom: 25px
	
.leader-click
	display: inline-block
	font-size: 15px
	color: #FFF
	padding: 11px 20px
	background-color: #90bc3b
	-webkit-border-radius: 3px
	border-radius: 3px
	margin-bottom: 60px 
	
.comfort
	background-image: url(img/for.png)
	height: 459px
	
.comfort-top
	margin-top: 50px
	margin-bottom: 50px
	h2
		color: #FFF
		font-size: 25px
		
.comfort-select
	font-size: 20px
	color: #FFF
	margin-bottom: 25px
	
.comfort-form
	display: flex
	-webkit-justify-content: space-between
	justify-content: space-between
	-webkit-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	select
		width: 260px
		height: 35px
		margin-bottom: 30px
		-webkit-border-radius: 3px 
		border-radius: 3px 
		text-indent: 20px
		background-color: rgba(255, 255, 255, .5)
		color: #FFF
		font-size: 17px
		option
			color: #000
		 
.comfort-rub
	margin: 70px 0 0 100px
	a
		margin-left: 5px

.comfort-price
	margin-bottom: 50px
	font-size: 67px
	color: #FFF
	
.factories
	margin-top: 55px
	
.factories-our
	margin-bottom: 30px
	
.factories-map
	img
		width: 100%
		
.factories-useful-left
	float: left
	width: 165px
	height: 135px
	
.factories-useful-right
	width: 250px
	float: left
	margin-left: 30px
	a
		color: #000
		font-size: 20px
		margin-bottom: 19px
		display: inline-block
	p
		font-size: 15px
		
.factories-useful
	margin-bottom: 30px
	height: 135px

.news-block
	margin-top: 30px
	a
		display: inline-block
		padding: 7px 10px
		color: #fff
		background-color: #6fa900
		margin-bottom: 25px

.news-first
	font-size: 20px
	margin-bottom: 30px
	
.news-second
	font-size: 15px
	margin-bottom: 40px
	
.golden-top
	font-size: 25px
	margin: 40px 0 25px 0
	
.golden-wrap
	height: 500px
	background-image: url(img/golden-hands.png)
	
.golden-right
	width: 480px
	height: 500px
	background-color: rgba(0, 0, 0, .6)
	float: right
	display: flex
	
.golden-block
	width: 420px
	margin: auto
	color: #FFF 
	h3
		margin-bottom: 25px
		
.golden-paragraf-first
	font-size: 15px
	margin-bottom: 20px
	
.golden-block-left
	width: 250px
	float: left
	font-size: 20px
	margin-bottom: 30px

.golden-block-right
	width: 165px
	float: left
	font-size: 20px
	margin-bottom: 30px
	
.golden-download
	display: inline-block
	color: #afe548
	margin-bottom: 25px
	
.golden-float
	float: right
	
.golden-block
	.leader-click
		margin-bottom: 0
		
.trees-bg-img1
	background-image: url(img/trees-img1.png)
	background-repeat: no-repeat
	
.trees-bg-img2
	background-image: url(img/trees-img2.png)
	background-repeat: no-repeat
	
.trees-bg-img3
	background-image: url(img/trees-img3.png)
	background-repeat: no-repeat
	
.trees-bg-img4
	background-image: url(img/trees-img4.png)
	background-repeat: no-repeat
	
.trees-block
	width: 265px
	height: 270px
	margin: 30px auto 60px
	display: flex
	-webkit-justify-content: flex-end
	justify-content: flex-end
	-webkit-align-items: center
	align-items: center
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column

.trees-block:hover
	.trees-rgba
		background-color: rgba(0, 0, 0, .6) 
		width: 265px
		height: 270px
		display: flex
		-webkit-justify-content: space-around
		justify-content: space-around
		-webkit-align-items: center
		align-items: center
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		color: #FFF 
		a
			width: 74px
			height: 74px
			background-image: url(img/trees-arrow.png) 
			
footer
	background-color: #998658
	
.footer-wrap
	padding-top: 60px
	padding-bottom: 75px
	
.footer-block
	color: #FFF
	height: 275px
	p
		font-size: 20px
		margin-bottom: 40px
	ul
		padding: 0
		list-style-type: none
	li
		line-height: 35px
	a
		color: #FFF
		font-size: 15px
		
.footer-block-last 
	color: #FFF
	width: 265px
	p
		font-size: 15px
		
.footer-logo
	display: inline-block
	margin-bottom: 30px
	
.tel-right
	float: right
	
.footer-email
	color: #FFF
	display: inline-block
	margin: 15px 0 35px 0 