/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header-wrap .header-production {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.comfort .comfort-top {
		margin: 0;
		text-align: center;
	}

	.comfort .comfort-form select {
		margin-bottom: 5px;
	}

	.comfort-rub p {
		font-size: 45px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header-wrap .telephone,
	.header-wrap .mail {
		font-size: 11px;
	}

	header .header-wrap {
		line-height: 40px;
	}

	.header-nav .nav-left a {
		font-size: 11px;
	}

	.header-nav .nav-left li {
		margin-left: 10px;
		display: block;
		text-transform: uppercase;
	}

	.nav-left ul {
		display: none;
		position: absolute;
		background-color: #e6e6e6;
		width: 100%;
	}

	.comfort-rub p {
		font-size: 35px;
	}

	.lof-main-wapper1 .top1,
	.lof-main-wapper1 .top2,
	.lof-main-wapper1 .top3	{
		width: 70%;
	}

	.golden-wrap .golden-right {
		width: 70%;
		margin-right: -15px;
	}

	.header_phone_button {
		display: none;
	}

	.header-span {
		line-height: 100px;
	}
}

/* Extra Small Devices, position: relative; */
@media only screen and (max-width : 480px) {
	.header-span .blocknote {
		margin-left: 20px;
		margin-right: 0;
	}

	.header-wrap .tell {
		padding-left: 10px;
	}

	.comfort .comfort-rub {
		margin-left: 35px;
	}

	.comfort .comfort-select {
		font-size: 18px;
	}

	.comfort .comfort-form select {
		height: 27px;
	}

	.comfort-rub p {
		font-size: 30px;
	}

	.lof-main-item-desc1 .galery-slide-content {
    	margin-left: 10px;
    }

    .galery-slide-content .sl-cont-1,
    .galery-slide-content .galery-price {
    	font-size: 17px;
    }

	.header-span {
		display: none;
		position: absolute;
		background-color: burlywood;
		width: 100%;
		left: 0;
		line-height: 45px;
	}

	.factories-useful .factories-useful-right {
		margin-left: 0;
	}

	.golden-right .golden-block h3 {
    	text-align: center;
    }

    .golden-right .golden-block {
    	width: 95%;
    }

    .golden-block .golden-paragraf-first {
    	font-size: 9px;
    }

    .golden-block .golden-block-left {
    	font-size: 10px;
    	width: 49%;
    	margin-right: 10px;
    }
    .golden-block .golden-block-right {
    	font-size: 10px;
    	width: 30%;
    }

    .golden-right .golden-block .leader-click {
    	margin-bottom: 5px;
    }

    .golden-right .golden-block .leader-click {
    	float: none;
    }

    .production .product,
    .production .catalog,
    .special-offer .product,
    .special-offer .catalog,
    .real-top .product,
    .real-top .catalog {
    	text-align: center;
    	float: none;
    	margin-bottom: 10px;
    }

    .factories .factories-map {
    	text-align: center;
    }

    .header_phone_button {
    	display: block;
    }

    .galery-top {
    	text-align: center;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.nav-left ul {
		display: block; !important
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}