@charset "utf-8";
#container1 { 
	margin: auto; 
	background:#FFF; 
	font-size:12px;
}

/* CSS Document */
.lof-slidecontent1, .lof-slidecontent1 a {
	color:#FFF;	
}
.lof-slidecontent1 a.readmore{
	color:#58B1EA;
	font-size:95%;
	
}
.lof-slidecontent1{
	position:relative;
	overflow:hidden;
	height:400px
}
.lof-slidecontent1 .preload1{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	text-align:center;
	background:#FFF
}

.lof-main-outer1{
	position:relative;
	height:400px;
	z-index:3;
	overflow:hidden;
}


/*******************************************************/
.top1,
.top2,
.top3 {
	width: 41%;
 	height: 400px;
  	background-color: rgba(0, 0, 0, 0.7);
  	float: right;
  	position: absolute;
  	top: 0;
	right: 0;
}

.galery-slide-content {
  margin-left: 30px;
  color: #fff; }

.sl-cont-1 {
  margin-bottom: 35px;
  font-size: 20px;
  margin-top: 35px;}

.galery-price {
  font-size: 20px;
  margin-bottom: 40px; }

.galery-right {
  float: right;
  position: absolute; }

.galery-dots {
  font-size: 10px; }

/* main flash */
ul.lof-main-wapper1{
	padding:0px;
	margin:0;
	position:relative;
}

ul.lof-main-wapper1 li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	position:absolute;
}

ul.lof-main-wapper1 li img{
	padding:0px;
	height: 400px;
	width: 100%;
}

.lof-main-outer1 .lof-next,  .lof-main-outer1 .lof-previous{
	display:block;
	width:40px;
	cursor:pointer;
	position:absolute;
	height:100%;
	z-index:3;
	top:0;
	text-indent:-999px;

}
.lof-main-outer1 .lof-next {
	right:4px;
	background:url(img/psev-right.png) no-repeat right center;
}
.lof-main-outer1 .lof-previous {
	left:4px;
	background:url(img/psev-left.png) no-repeat left center;
}