@charset "utf-8";
body { 
	margin:0px; 
	font-family:Arial, Helvetica, sans-serif;
}
#container { 
	width:100%; 
	margin:0px auto 0px; 
	background:#FFFFFF;
	font-size:12px; 
	margin-top:50px; 
}
/* CSS Document */
.lof-slidecontent{
	position:relative;
	overflow:hidden;
	width:100%;
	height:370px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
}
.lof-main-outer{
	position:relative;
	height:100%;
	width:76%;
	z-index:3px;
	overflow:hidden;
}


/*******************************************************/


/* main flash */
ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
	padding:0px;
	margin:0;
	height:370px;
	width:600px;
	position:absolute;
	overflow:hidden;
}

ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	height:100%;
	width:870px;
	float:left;
}
.lof-opacity  li{
	position:absolute;
	top:0;
	left:0;
	float:inherit;
}
ul.lof-main-wapper li img{
	padding:0px;	
	width:870px;
	height: 355px;
}
	/* filter:0.7(opacity:60) */
}

/* item navigator */
ul.lof-navigator{
	top:0;
	left: 0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}
ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:260px;
	padding:0;
	margin-bottom: 2px;
	overflow:hidden;
}

.lof-navigator-outer{
	position:absolute;
	right:-17px;
	top:-5px;
	z-index:100;
	height:370px;
	width:24%;
	overflow:hidden;
}

.lof-navigator li img{
	height:120px;
	width:260px;
	float:left;
}

.lof-nav-cont p {
	color: #fff;
    font-size: 10px;
    padding: 10px;
    background-color: #8cc63e;
    display: inline-block;
}

.first p {
	position: absolute;
	left: 0px;
	top: 10px;
}

.second p {
	position: absolute;
	left: 0px;
}

.three p {
	position: absolute;
	left: 0px;
}
